*{
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.head.left{
    width: 150px;
}

.row-head{
    width: calc(100% - 150px);
    display: flex;
}

.head.center{
    width: 90%;
    display: flex;
    align-items: center;
}

.head.right{
    width: 10%;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100%;
    margin: 10px 0;
}

.search {
    width: 98%;
    background-color: rgb(211, 202, 202);
    border-radius: 5px;
    margin: 10px;
}

.dropdown{
    display: inline-block;
}

.logo-mobile img{
    max-width: 50px;
    display: none;
}

.search i{
    margin: 10px;
}

.search input{
    width: 60%;
    background-color: rgb(211, 202, 202);
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 5px;
}

.head.right a{
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
}

/* corpo centrale */
.container-principale{
    display: flex;
    margin-top: 50px;
}

/* menu navigazione verticale */
.nav-x{
    width: 150px;
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 899;
}

    /* menu navigazione verticale */
 .nav-x{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.nav-x span{
    margin-left: 5px;
}

  /* nav-up */
.nav-list{
    list-style-type: none;
    margin: 20px 0;
}

.nav-list a{
    color: white;
    text-decoration: none; 
}

.fa-solid.fa-chart-simple.stats{
    padding-right: 5px;
}

/* nav-down */
  .nav-x-down{
    margin: 10px 0;
    text-align: center;
}

  .nav-x-down a{
    text-decoration: none;
    color: white;
}

/* main */
main {
    width: calc(100% - 150px);
    height: calc(100vh - 50px);
    margin-left: 150px;
    overflow: auto;
  }

  /* nav-main */

.nav-main{
    min-height: 100px;
    padding: 10px;
    color: white;
    background-color: #1B72E8;
}

.nav-main .nav-bool{
    background-color: #1B72E8;
    height: 100%;
}

.nav-bool div, .nav-bool span{
    padding-left: 20px;
    margin-top: 10px;
}

.nav-bool div span{
    padding: 0;
}

.nav-bool h3, .nav-bool span{
    margin: 5px 0;
    display: inline;
}

.nav-bool.right span{
    margin: 0;
}

.nav-bool.right span span{
    padding: 0;
}

.nav-bool.right .input-group{
    padding: 0;
}
 
.butt-blue{
    background-color: #0a518e;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
    margin: 5px 0;
}

.nav-bool i.fa-plus{
    margin: 0 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.butt-blue.plus-d-none{
    display: none;
}

/* nav main offcanvas */
.offcanvas.offcanvas-end{
    width: 50%;
}

/* main-sx */
.table-main-sx{
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.table-main-sx .table{
    width: 98%;
    margin: auto;
}

.table-main-sx h3{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.img-table{
    max-width: 20px;
    margin-right: 10px;
}

.table-main-sx .btn {
    padding: 2px 18px;
    font-size: 12px;
}

.table-main-sx td div .btn{
    padding: 5px 8px;
}


/* faq */
.faq-section{
    margin-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.faq{
    width: 98%;
    margin: auto;
}

.faq-section h3{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

/* main-dx */
/* sezione checkbox */
.checkbox-section{
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.checkbox-section h3{
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}

.checkbox-section .check-row .check-row{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 0 10px;
}

.form-check{
    margin: 10px;
}

.checkbox-section .check-row .check-row.bottom{
    margin-bottom: 10px;
}

/* sezione grafico */
.graphic-section{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 30px;
    min-height: 100px;
}

.graphic-section .list-group{
    margin: 10px;
}

.graphic-section .list-group img{
    max-width: 100%;
}



/* QUERY */

@media screen and (max-width: 960px) {
    .head.left{
        width: 50px;
    }

    .row-head{
        width: calc(100% - 50px);
    }

    .head.center{
        width: 95%;
    }

    .head.right{
        width: 5%;
    }

    /* logo */
    .logo img{
    display: none;
    }

    .logo-mobile img{
    display: block;
    }

    .nav-x{
        width: 50px;
    }

    main {
        width: calc(100% - 50px);
        margin-left: 50px;        
    }

      .nav-x span{
        display: none;
    }

    .nav-list a{
        margin: 20px -15px; 
    }

    .butt-blue.inp-d-block{
        display: none;
    }

    .butt-blue.plus-d-none{
        display: inline-block;
    }

    .a-d-none{
        display: none;
    }

    .offcanvas.offcanvas-end {
        width: 100%;
    }
}



/* query mobile */
@media screen and (max-width:576px) {
    .td-d-none, .col.td-d-none{
        display: none;
    }
}




